<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dequeuniversity">

    <application>
        <activity
            android:name=".Tab_Widget"
            android:label="@string/title_activity_tab__widget"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>