<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.deque.accessibilityanalyzer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dqu_logo"
        android:label="@string/app_short_name"
        android:theme="@style/AACAppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".application.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.deque.worldspace.RuleActivity"
            android:parentActivityName=".application.MainActivity" />
        <activity
            android:name=".application.TalkBackAboutActivity"
            android:parentActivityName=".application.MainActivity" />
    </application>

</manifest>